/* line 22, /Users/mac/Desktop/dev/untitled folder/sass/main.scss */
html {
  box-sizing: border-box; }

/* line 1, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

/* line 7, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/*
 * Remove text-shadow in selection highlight:
 */
/* line 16, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
::-moz-selection {
  background: #50F2F5;
  color: #f8f9fa;
  text-shadow: none; }

/* line 22, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
::selection {
  background: #50F2F5;
  color: #f8f9fa;
  text-shadow: none; }

/* line 28, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

/* line 38, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
.no-events {
  pointer-events: none; }

@-ms-viewport {
  width: device-width; }

/*
 * A better looking default horizontal rule
 */
/* line 50, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 */
/* line 64, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 77, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
fieldset, ul {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 83, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
textarea {
  resize: none;
  max-height: 10em; }

/* added */
/* line 90, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 95, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
a:hover, a:focus,
button:hover, button:focus,
.btn:hover, .btn:focus {
  cursor: pointer;
  outline: none; }

/* line 102, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
input:focus, textarea:focus {
  outline: none; }

/* line 106, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
input:disabled:hover {
  cursor: not-allowed; }

/* line 110, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
ul {
  list-style: none; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 118, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 129, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
.none {
  display: none !important; }

/* line 133, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/* line 147, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-in-out; }

/* line 152, /Users/mac/Desktop/dev/untitled folder/sass/_common.scss */
.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition-delay: .3s; }

/* line 1, /Users/mac/Desktop/dev/untitled folder/sass/_custom.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: "Spoqa Han Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  position: fixed;
  overflow: hidden;
  background-color: #031C30; }

/* line 15, /Users/mac/Desktop/dev/untitled folder/sass/_custom.scss */
canvas, .container {
  width: 100%;
  height: 100%; }

/* line 29, /Users/mac/Desktop/dev/untitled folder/sass/_custom.scss */
canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0; }

/* line 37, /Users/mac/Desktop/dev/untitled folder/sass/_custom.scss */
.container {
  display: table;
  position: absolute; }

/* line 43, /Users/mac/Desktop/dev/untitled folder/sass/_custom.scss */
.box {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

/* line 49, /Users/mac/Desktop/dev/untitled folder/sass/_custom.scss */
.center-x {
  margin-left: auto;
  margin-right: auto; }

/* line 54, /Users/mac/Desktop/dev/untitled folder/sass/_custom.scss */
.thin {
  font-weight: 100; }

/*# sourceMappingURL=main.css.map */