/* Header */

header {
  height: 65px;
  border-bottom: 1px solid $grey-2;
}

.btn {
  display: inline-block;
  margin: 0 .5rem;
}
.btn-line {
  padding: .5rem 1.2rem;
  border: 1px solid $grey-2;
  border-radius: .5rem;
  font-size: .85em;
  color: $grey-5;
  transition: all .2s ease-in;
  &:hover, &:active, &:focus {
    color: $grey-8;
  }
  &.active {
    color: $grey-8;
    font-weight: 700;
    background-color: $grey-1;
  }
}

/* Chart */

#chart {
  flex-grow: 1;
}
.scrollable {
  overflow-x: auto;
  white-space: nowrap;
  margin-left: -15px;
}
.yAxis {
  align-self: stretch;
  justify-content: space-between;
  margin-left: 20px;
  padding: 2rem 15px 4rem 0;
  background-color: $bg-color;
  .bar {
    background: $blue; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $blue, $red); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $blue, $red); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 3px;
    flex-grow: 1;
    margin: 10px 0;
  }
}

.subnode {
  pointer-events: none;
  opacity: 0;
  fill: red;
  transition: opacity .2s linear;
}

.node:hover ~ .subnode {
    opacity: 1;
}