aside {
  border-top: 1px solid $grey-2;
}
// map
#map {
  background: url(../img/tmp-map.png) no-repeat center;
  background-size: 100%;
  transition: background-size .5s ease;
  &:hover {
    background-size: 140%;
  }
}
// description
#des {
  padding: 1.2em .6em;
  overflow: scroll;
}
p {
  font-size: .9rem;
  line-height: 1.8;
}
.event {
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background: $grey-2;
  margin: 0 .5rem;
  text-align: center;
  float: left
}