aside {
  border-top: 1px solid $grey-2;
}
// description
#des {
  padding: 1.2em .6em;
  overflow: scroll;
}
p {
  font-size: .9rem;
  line-height: 1.8;
}
.event {
  border-radius: 5px;
  padding: 1rem 1.5rem;
  position: relative;
  background: $grey-2;
  margin: .5rem .75rem;
  text-align: center;
  float: left;
  &::before {
    content: "\25b6";
    position: absolute;
    left: -19px;
  }
  &:first-child {
    margin-left: 0;
    &::before {
      content: none;
    }
  }
}