@charset "utf-8";

$base-font-family: 'Spoqa Han Sans', Helvetica, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;

$text-color:       #343a40 !default;
$bg-color: #fff !default;
$grey-0: #f8f9fa !default;
$grey-3: #dee2e6 !default;
$grey-8: #343a40 !default;

$landscape: 800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

html {box-sizing: border-box}

@import
  "base",
  "common",
  "custom"
;